.tooltipContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    background: rgba(0, 0, 0, 0.8);
    padding: 4px 12px;
    border-radius: 12px;
    color: white;
    font-size: 0.8rem;
    white-space: nowrap;
    font-weight: bold;
    backdrop-filter: blur(4px);
    transition: all 0.2s ease;
}

.comingSoon {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.6rem;
    margin-top: 4px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    white-space: nowrap;
}
.htmlWrapper {
    pointer-events: none;
}

