# ==========================
# Backend 
# ==========================

# Python
venv/
__pycache__/
*.pyc

# Pytest / cache
.pytest_cache/
.cache

# Env & secrets
.env

# Local databases
*.db

# Temp runtime files
temp_audio/

# Editor / OS
.vscode/
.DS_Store

# Celery Beat Schedule
celerybeat-schedule
celerybeat.pid

# Temp
tmp/


# ==========================
# Frontend
# ==========================

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
.DS_Store
*.ntvs*
*.njsproj
*.sln
*.sw?
