.main {
    background-color: #050505;
    color: white;
    min-height: 100vh;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.heroSection {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}